
<% layout('layout') -%>

<div class="jumbotron" id = "navbar-gap">
  <div class="container">
    <h1> Shop Smart, Save Big </h1>
    <p>Starting point to create something unique</p>
    <p> Our prices are some of the best on the web</p>
    <p><a class="btn btn-primary btn-lg" href="/signup" role="button">SignUp &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h3>Search here</h3>
      <p>Signup to start purchasing</p>
    </div>
    <div class="col-md-4">
      <h3>Look for smart items</h3>
      <p>This will appear accross the site as you add to your cart</p>
   </div>
    <div class="col-md-4">
      <h3>Build a smart cart</h3>
      <p>The more smart items you buy together, the more you save</p>
    </div>
  </div>

  <hr>
